body{
    height: 150vh;
    background-color: azure;
}

.caixa{
    text-align: left;
    width: 100%;
    background-color: azure;
    height: 100%;
}

h1{
    font-size: 5rem;
    margin-bottom: 5px;
    margin-top: 25%;
}

p{
    margin-top: 5%;
    font-size: 2.5rem;
}